<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variable Manager</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: yellowgreen;
            color: white;
        }

        .text-cell {
            width: 75%;
        }

        .image-cell {
            width: 25%;
        }
    </style>
</head>

<body>
    <h1>Variable Manager</h1>
    <button onclick="window.location.href='manager/download'">Download Archive</button>
    <button onclick="fetch('manager/clear')">Clear Archive</button>
    <button onclick="window.location.href='manager'">Refresh</button>
    {% for timestamp, data_list in data.items() %}
    <h2>{{ timestamp }}</h2>
    <table>
        <thead>
            <tr>
                <th>Texts</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for dict_item in data_list %}
            <tr>
                <td class="text-cell">
                    {% for text in dict_item['response'] %}
                    {{ text }}<br>
                    {% endfor %}
                </td>
                <td class="image-cell">
                    <img src="data:image/png;base64,{{ dict_item['image'] }}" width="100%">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}

</html>